body {
    overflow-x: hidden;
}

body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)),
        url('../res/images/bg-1.jpg');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(200, 50, 50);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}