@import url('https://fonts.googleapis.com/css?family=Coda|Lobster|Lobster+Two|Righteous|Shrikhand|Titan+One');


#landing{
    background:
    linear-gradient(
      rgba(150, 150, 0, 0.6), 
      rgba(180, 50, 0, 0.6)
    ),
    url('../res/images/background.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#livelo{
    color: lightgray;
    font-size: 15vw;
    font-family: 'Righteous';
}

#livelo_e{
    font-size: 15vw;
    font-family: 'Righteous';
    background: -webkit-linear-gradient(yellow 35%, orange 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.kreativ {
    width:100%;
    text-align: center;
}

.kreativ h1{
    display: inline-block;  
    margin: 2vw;
    padding-top: 31vw;
    font-size: 2.2vw !important;
    text-align: center;
    font-family:"Crete Round";
    text-transform: capitalize;
}

i {
    padding-top: 3vw;
}

#more_information{
    cursor: pointer;
    color: lightgray;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 3vw;
}

#menu{
    background-color:hsla(0, 0%, 9%, 0.7);
}

.links{
    float: left;
}
.rechts{
    float: right;
}
.middle{
    text-align: center;
}