.pr-item {
	display: inline-block;
	margin: 1em;
	cursor: pointer;
}

#main>header {
	padding: 12em 0 10em 0;
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/images/preis.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/images/preis.jpg");
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/images/preis.jpg");
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/images/preis.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.fadeout {
	padding-left: 5%;
	padding-right: 5%;
}

.inner {
	text-align: center;
}

.page h2 {
	margin-top: 5vw;
}

.page h3,
.page h4 {
	font-weight: 100;
}

#preisrechner {
	text-align: center;
}

@keyframes move {
	to {
		margin-left: 300%;
	}
}

@keyframes fade {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.pr-item h3 {
	font-weight: 100;
}

.m-4{
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.contact{
	text-align: center;
	border: solid 1px black;
	border-radius: 3px;
	padding: 1vw;
	margin-top: 5vw;
	color: black;
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding:5px;
}

.inner{
	text-align: center;
}

#start{
	margin-bottom: 3vw;
	font-size: 18px;
}


.symbol{
    font-size: 16px;
    padding: 5px;
}

.icon:hover{
    color: goldenrod;
}