.pr-item {
	display: inline-block;
	margin: 1em;
	cursor: pointer;
}

#main>header {
	padding: 12em 0 10em 0;
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/images/preis.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/images/preis.jpg");
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/images/preis.jpg");
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/images/preis.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.fadeout {
	padding-left: 5%;
	padding-right: 5%;
}

.inner {
	text-align: center;
}

.page h2 {
	margin-top: 5vw;
}

.page h3,
.page h4 {
	font-weight: 100;
}

#preisrechner {
	text-align: center;
}

@keyframes move {
	to {
		margin-left: 300%;
	}
}

@keyframes fade {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.pr-item h3 {
	font-weight: 100;
}